.header {
    display: flex;
    justify-content: center;
    padding-top: 30px;
    position: relative;
}

.header__content {
    display: flex;
    flex-direction: column;
    gap: 49px;
}

.header__logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__banner {
    position: relative;
    display: flex;
}

.header__banner__img {
    width: 100%;
    height: 619px;
}

.header__banner__title {
    font-family: Fira Sans Condensed;
    font-weight: 700;
    font-size: 60px;
    line-height: 69px;
    color: var(--white);
    max-width: 600px;
    display: flex;
    flex-wrap: wrap;
    text-align: left;
}

.header__banner__desription {
    font-family: Fira Sans Condensed;
    font-weight: 400;
    font-size: 28px;
    line-height: 33.6px;
    color: var(--white);
    text-align: left;
}

.header__banner__description_container {
    display: flex;
    position: absolute;
    flex-direction: column;
    height: 100%;
    gap: 20px;
    padding: 165px 130px;
}


@media screen and (max-width: 768px) {
    .header {
        padding-top: 10px;
    }
    .header__banner__img {
        object-fit: cover;
    }
    .header__banner__title {
        font-size: 32px;
        line-height: 32px;
    }
    .header__banner__desription {
        font-size: 24px;
        line-height: 28px;
    }
    .header__logo__icon {
        display: flex;
        justify-content: flex-start;
        gap: 80px;
        padding: 10px 10px;
    }
    .header__logo {
        flex-direction: column;
        align-items: flex-start;
    }
    .header__banner__description_container {
        gap: 10px;
        padding: 170px 30px;
    }
}