.header {
    height: 743px;
    display: flex;
    justify-content: center;
    padding-top: 30px;
    position: relative;
}

.header__content {
    display: flex;
    flex-direction: column;
    gap: 49px;
}

.header__logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__banner {
    position: relative;
    display: flex;
}

.header__banner__img {
    width: 100%;
    height: 619px;
}

.header__banner__title {
    font-family: Fira Sans Condensed;
    font-weight: 700;
    font-size: 60px;
    line-height: 69px;
    color: var(--white);
    max-width: 600px;
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    top: 165px;
    left: 130px;
}

.header__banner__desription {
    font-family: Fira Sans Condensed;
    font-weight: 400;
    font-size: 28px;
    line-height: 33.6px;
    color: var(--white);
    position: absolute;
    top: 333px;
    left: 130px;
}

@media screen and (max-width: 768px) {
    .header {
        height: 280px;
        padding-top: 0px;
    }
    .header__content {
        gap: 10px;
    }
    .header__logo {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    .header__banner__img {
        object-fit: cover;
        height: 180px;
    }
    .header__banner__title {
        font-size: 20px;
        line-height: 20px;
        top: 40px;
        left: 30px;
        max-width: 250px;
    }
    .header__banner__desription {
        font-size: 14px;
        line-height: 12px;
        top: 90px;
        left: 30px;
        max-width: 250px;
    }
}