.button {
    background-color: var(--red);
    font-family: Jost;
    font-weight: 500;
    font-size: 16px;
    line-height: 19.2px;
    letter-spacing: 0%;
    text-align: center;
    color: var(--white);
    border: none;
    cursor: pointer;
}

.button_small {
    width: 172px;
    height: 45px;
    margin-right: 61px;
}

.button_small_modal {
    width: 179px;
    height: 45px;
    align-self: center;
}

.button_medium {
    width: 181px;
    height: 45px;
    position: absolute;
    top: 409px;
    left: 130px;
}

.button_large {
    width: 226px;
    height: 84px;
    position: absolute;
    top: 316px;
    left: 67px;
}