.button {
    background-color: var(--red);
    font-family: Jost;
    font-weight: 500;
    font-size: 16px;
    line-height: 19.2px;
    letter-spacing: 0%;
    text-align: center;
    color: var(--white);
    border: none;
    cursor: pointer;
}

.button_small {
    width: 172px;
    height: 45px;
}

.button_small_modal {
    width: 179px;
    height: 45px;
    align-self: center;
}

.button_medium {
    width: 181px;
    height: 45px;
    position: absolute;
    top: 409px;
    left: 130px;
}

.button_large {
    width: 226px;
    height: 84px;
    position: absolute;
    top: 316px;
    left: 67px;
}

@media screen and (max-width: 768px) {
    .button_medium {
        width: 120px;
        height: 30px;
        top: 120px;
        left: 30px;
    }
    .button_small {
        width: 120px;
        height: 30px;
    }
    .button_large {
        width: 120px;
        height: 40px;
        position: absolute;
        top: 160px;
        left: 30px;
    }
    .button {
        font-size: 12px;
        line-height: 10px;
    }
    
}