.main__content {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.main__title {
    font-family: Fira Sans Condensed;
    font-weight: 700;
    font-size: 48px;
    line-height: 52.8px;
    letter-spacing: 0%;
    margin-left: 61px;
}

.main__card-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

@media screen and (max-width: 768px) {
    .main__title {
        font-size: 40px;
        line-height: 50px;
        align-self: center;
        text-align: center;
        margin-left: 0;
    }
    .main__content {
        padding-left: 1rem;
        padding-right: 1rem;
    }
    .main__card-list {
        display: flex;
        justify-content: center;
        gap: 5px;
        flex-wrap: nowrap;
        align-items: center;
    }
}