.footer {
    height: 292px;
    background-color: var(--black);
}
.footer__content {
    height: 292px;
    color: var(--white);
    display: flex;
    justify-content: space-between;
    padding: 50px 190px 0px 61px;
}

.footer__details {
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: var(--grey);
    font-family: Jost;
    font-weight: 400;
    font-size: 14px;
    line-height: 16.8px;
    letter-spacing: 0%;
}

.footer__details__text {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer__details__text_icon {
    display: flex;
    gap: 15px;
}

.footer__details__text-item_decoration {
    text-decoration: underline;
}

@media screen and (max-width: 768px) {
    .footer {
        height: 140px;
    }
    .footer__content {
        height: 140px;
        justify-content: center;
        gap: 40px;
    }
    .footer__details {
        font-size: 8px;
        line-height: 6px;
        gap: 10px;
    }
    .footer__details_media {
        display: none;
    }
    .footer__content {
        padding: 10px 40px;
        margin: auto;
    }
}