<!-- Страница бургер-меню -->
<html lang="ru">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../../assets/css/main.css">
        <link rel="stylesheet" href="./menu.css">
        <script defer src="./menu.js"></script>
    </head>
    <body>
        <button id="burger-menu-open" class="burger-menu__open">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M2 12C2 11.4477 2.44772 11 3 11H21C21.5523 11 22 11.4477 22 12C22 12.5523 21.5523 13 21 13H3C2.44772 13 2 12.5523 2 12Z" fill="#212429"/>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M2 6C2 5.44772 2.44772 5 3 5H21C21.5523 5 22 5.44772 22 6C22 6.55228 21.5523 7 21 7H3C2.44772 7 2 6.55228 2 6Z" fill="#212429"/>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M2 18C2 17.4477 2.44772 17 3 17H21C21.5523 17 22 17.4477 22 18C22 18.5523 21.5523 19 21 19H3C2.44772 19 2 18.5523 2 18Z" fill="#212429"/>
            </svg>                
        </button>
        <div class="menu" id="burger-menu">
            <button id="burger-menu-close" class="burger-menu__close">
                <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <rect x="16.2634" y="15.5563" width="1" height="15" transform="rotate(135 16.2634 15.5563)" fill="#4A4A4A"/>
                    <rect x="5.65674" y="16.2635" width="1" height="15" transform="rotate(-135 5.65674 16.2635)" fill="#4A4A4A"/>
                </svg>                    
            </button>
            <div class="menu__list">
                <a class="menu__list-item" href="">Каталог</a>
                <a class="menu__list-item" href="">Услуги</a>
                <a class="menu__list-item" href="">Наши проекты</a>
                <a class="menu__list-item" href="">Информация</a>
                <a class="menu__list-item" href="">Контакты</a>
            </div>
        </div>
    </body>
</html>
